.dashboard {
  /* content: "";
  position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: url('/homeBackground.jpg') center/cover no-repeat;
  background-attachment: fixed; 
  z-index: -2;
    /* max-width: 1200px; */
    /* margin: auto;
    padding: 20px; */
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

.card {
    background: #222;
    color: white;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    width: 40%;
    margin: auto;
    margin-bottom: 2rem;
}

.card h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
